{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/journal.css' %}">
    <link rel="icon" href="{% static 'images/harmonix.png' %}">
    <title>Journal</title>
</head>
<body>
 <nav class="navbar">
        <a href="{% url 'home' %}">Home</a>
        <a href="{% url 'register' %}">Register</a>
        <a href="{% url 'login' %}">Login</a>
        <a href="{% url 'chatbot' %}">chatbot</a>
        <a href="{% url 'archives' %}">Archives</a>
    </nav>
    <div class="journal-container">
        <h1>{{ title }}</h1>
        <form method="POST" action="/journal/" enctype="multipart/form-data">
            {% csrf_token %}
            <input
                type="text"
                name="title"
                class="journal-title"
                placeholder="Entry Title (Optional)">
            <textarea
                name="journal_entry"
                class="journal-textarea"
                placeholder="How are you feeling today? Write your thoughts here..."
                required></textarea><br>
            <label for="image-upload" class="image-upload-label">Optional: Add an image</label>
            <input type="file" id="image-upload" name="journal_image" accept="image/*" class="image-input"><br>
            <button type="submit" class="btn">Save Entry</button>
        </form>
    </div>
</body>
</html>
