body {
    font-family: Arial, sans-serif;
    background-color:lavender;
    background-size: cover;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.journal-container {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    width: 90%;
    max-width: 600px;
    text-align: center;
}

h1 {
    color: #6c63ff;
    margin-bottom: 20px;
    font-size: 2rem;
}

.journal-textarea {
    width: 100%;
    height: 150px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    font-size: 1rem;
    margin-bottom: 15px;
}

.image-upload-label {
    font-size: 1rem;
    color: #555;
    display: block;
    margin-bottom: 5px;
}

.image-input {
    margin-bottom: 15px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #6c63ff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

.btn:hover {
    background-color: #5146d8;
}
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: red; /* Light Lavender */
  padding: 10px 0;
  z-index: 1; /* Ensure it's on top of other content */
}

.navbar a {
  color: #333333; /* Dark Gray */
  text-decoration: none;
  margin: 0 15px; /* Add spacing between links */
}
